<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="bot">
    <link name="base_link">
        <inertial>
            <mass value="6.0"/>
            <inertia ixx="0.05" ixy="0.0" ixz="0.0" iyy="0.08" iyz="0.0" izz="0.125"/>
        </inertial>
        <visual>
            <geometry>
                <box size="0.4 0.3 0.1"/>
            </geometry>
            <material name="black">
                <color rgba="0.0 0.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <box size="0.4 0.3 0.1"/>
            </geometry>
        </collision>
    </link>
</robot>
